# Introduction

<!-- This notebook is used to predict the likelihood of a student being accepted into a institute based on his or her academic performance. The data used in this notebook is from the Kaggle dataset "University Admission Prediction". The dataset contains several features such as student's GRE score, TOEFL score, CGPA, etc. that can be used to predict the likelihood of admission. -->

# UseCase

<!-- This dataset can be used to predict the probability of admission for a student. It can be used by universities to determine the likelihood of a student being accepted based on their academic performance. It can also be used by students to understand their chances of getting into a particular university. -->

# Problem Statement

<!-- This notebook is used to predict the likelihood of a student being accepted into a institute based on his or her academic performance. The data used in this notebook is from the Kaggle dataset "University Admission Prediction". The dataset contains several features such as student's GRE score, TOEFL score, CGPA, etc. that can be used to predict the likelihood of admission. -->

<!-- The goal of this notebook is to use the Kaggle dataset "University Admission Prediction" to build a predictive model that accurately predicts the probability of a student being accepted into a university based on his or her academic performance. -->

<!-- This dataset can be used to predict the probability of admission for a student. It can be used by universities to determine the likelihood of a student being accepted based on their academic performance. It can also be used by students to understand their chances of getting into a particular university. -->

In [1]:
#IMPORT THE LIBRARIES....
# import numpy as np # linear algebra....
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)....
# from matplotlib import pyplot as plt #Visualization of the data
# import seaborn as sns
# import warnings
# warnings.filterwarnings("ignore")

# #Libraries for model creation....
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.pipeline import Pipeline
# from sklearn.model_selection import cross_val_score
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.linear_model import LogisticRegression
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.metrics import classification_report, confusion_matrix

In [2]:
df=pd.read_csv('admission_predict.txt')

# 1. Display top 5 rows of the dataset

In [3]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df=df.rename(columns = {'Chance of Admit ':'Chance of Admit'})

# 2. Check Last 5 Rows of The Dataset

In [5]:
df.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

# 3. Find the shape of our dataset (Number of rows and number of columns)

In [6]:
df.shape

(500, 9)

In [7]:
print("Number of rows:",df.shape[0])
print("Number of columns:",df.shape[1])

Number of rows: 500
Number of columns: 9

# 4. Get information about our dataset like total number of rows, total number of columns, datatype of each column and memory requirement

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

# 5. Check null values in the dataset

In [9]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

# 6. Get overall statistics about the dataset

In [10]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

# 7. Dropping irrelevant features

In [11]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [12]:
# Removing the serial no, column
df.drop('Serial No.', axis='columns', inplace=True)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [13]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

# 8. Store feature matrix in x and response(Target) in vector y

In [14]:
df.head(1)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92

In [15]:
X=df.drop('Chance of Admit',axis=1)
y=df['Chance of Admit']

In [16]:
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
495        332          108                  5  4.5   4.0  9.02         1
496        337          117                  5  5.0   5.0  9.87         1
497        330          120                  5  4.5   5.0  9.56         1
498        312          103                  4  4.0   5.0  8.43         0
499        327          113                  4  4.5   4.5  9.04         0

[500 rows x 7 columns]

In [17]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

# 9. Splitting The Dataset Into The Training Set And Test Set

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [20]:
y_train

249    0.77
433    0.71
19     0.62
322    0.72
332    0.75
       ...
106    0.87
270    0.72
348    0.57
435    0.55
102    0.62
Name: Chance of Admit, Length: 400, dtype: float64

# 10. Feature Scaling

In [21]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc=StandardScaler()

In [24]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_train)

In [25]:
X_train

array([[ 0.38998634,  0.6024183 , -0.09829757, ...,  0.56498381,
         0.4150183 ,  0.89543386],
       [-0.06640493,  0.6024183 ,  0.7754586 , ...,  1.65149114,
        -0.06785154, -1.11677706],
       [-1.25302222, -0.87691722, -0.09829757, ..., -0.52152352,
        -0.13445427, -1.11677706],
       ...,
       [-1.34430047, -1.37002906, -1.8458099 , ..., -1.60803084,
        -2.2157898 , -1.11677706],
       [-0.7053527 , -0.38380538, -0.97205374, ...,  0.56498381,
        -1.49981038, -1.11677706],
       [-0.24896144, -0.21943477, -0.97205374, ...,  0.02173015,
        -0.55072138, -1.11677706]])

# 11. Import The models

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

# 12. Model Training

In [27]:
lr=LinearRegression()
lr.fit(X_train,y_train)

svm=SVR()
svm.fit(X_train,y_train)

rf=RandomForestRegressor()
rf.fit(X_train,y_train)

gr=GradientBoostingRegressor()
gr.fit(X_train,y_train)

GradientBoostingRegressor()

# 13. Prediction on Test Data

In [28]:
y_pred1=lr.predict(X_test)
y_pred2=svm.predict(X_test)
y_pred3=rf.predict(X_test)
y_pred4=gr.predict(X_test)

# 14. Evaluating the Algorithm

In [29]:
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [30]:
score1 =metrics.r2_score(y_test,y_pred1)
score2 =metrics.r2_score(y_test,y_pred2)
score3 =metrics.r2_score(y_test,y_pred3)
score4 =metrics.r2_score(y_test,y_pred4)

ValueError: Found input variables with inconsistent numbers of samples: [100, 400]

In [31]:
print(score1,score2,score3,score4)

NameError: name 'score1' is not defined

In [ ]:
final_data=pd.DataFrame({'Models':['LR','SVR','RF','GR'],'R2_SCORE':[score1,score2,score3,score4]})

In [ ]:
final_data

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(final_data['Models'], final_data['R2_SCORE'])

# Classification

In [ ]:
df.head()

In [ ]:
import numpy as np

In [ ]:
y_train=[1 if value>0.8 else 0 for value in y_train]
y_test=[1 if value>0.8 else 0 for value in y_test]
y_train=np.array(y_train)
y_test=np.array(y_train)

In [ ]:
y_train

# 15. Import The models

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

# 16. Model Training & Evaluation

In [ ]:
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred1=lr.predict(X_test)
print(accuracy_score(y_test,y_pred1))

In [ ]:
svm=svm.SVC()
svm.fit(X_train,y_train)
y_pred2=svm.predict(X_test)
print(accuracy_score(y_test,y_pred2))

In [ ]:
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred3=knn.predict(X_test)
print(accuracy_score(y_test,y_pred3))

In [ ]:
RF=RandomForestClassifier()
RF.fit(X_train,y_train)
y_pred4=RF.predict(X_test)
print(accuracy_score(y_test,y_pred4))

In [ ]:
gr=GradientBoostingClassifier()
gr.fit(X_train,y_train)
y_pred5=gr.predict(X_test)
print(accuracy_score(y_test,y_pred5))

In [ ]:
final_data=pd.DataFrame({'Models':['LR','SVC','KNN','RF','GBC'],'ACC_SCORE':[accuracy_score(y_test,y_pred1),
                                                                             accuracy_score(y_test,y_pred2),
                                                                             accuracy_score(y_test,y_pred3),
                                                                             accuracy_score(y_test,y_pred4),
                                                                             accuracy_score(y_test,y_pred5)]})

In [ ]:
final_data

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(final_data['Models'],final_data['ACC_SCORE'])

# 17. Save The Model

In [ ]:
df.columns

In [ ]:
X=df.drop('Chance of Admit', axis=1)

In [ ]:
y=df['Chance of Admit']

In [ ]:
y

In [ ]:
y=[1 if value>0.8 else 0 for value in y]

In [ ]:
y=np.array(y)

In [ ]:
y

In [ ]:
X=sc.fit_transform(X)

In [ ]:
X

In [ ]:
gr=GradientBoostingClassifier()
gr.fit(X,y)

In [ ]:
import joblib

In [ ]:
joblib.dump(gr,'admission_model')

In [ ]:
model=joblib.load('admission_model')

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
model.predict(sc.transform([[337,118,4.5,4.5,9.65,1,0.9]]))

# GUI

In [ ]:
from tkinter import *
import joblib
from sklearn.preprocessing import StandardScaler

In [ ]:
def show_entry():
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    
    model=joblib.load('admission_model')
    result=model.predict(sc.transform([[p1,p2,p3,p4,p5,p6,p7]]))
    
    if result==1:
        Label(master, text="High chance of getting admission").grid(rowspan=1)
    else:
        Label(master, text="you may get admission").grid(row=31)
        
master=Tk()
master.title("getting admission in college analysis and prediction")
label=Label(master,text="getting admission in college analysis and prediction", fg="white").grid(row=8, columnspan=1)

Label(master,text="Enter your GRE Score").grid(row=1)
Label(master,text="Enter your TOEFL Score").grid(row=2)
Label(master,text="Enter University Rating").grid(row=3)
Label(master,text="Enter SOP").grid(row=4)
Label(master,text="Enter LOR").grid(row=5)
Label(master,text="Enter your CGPA").grid(row=6)
Label(master,text="Research").grid(row=7)

e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)

e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)
e7.grid(row=7, column=1)

Button(master,text="predict", command=show_entry).grid()   
mainloop()